{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<br>

<div class='col'>
  
  </div>
  <br>
<div class="container">
  <div class='row justify-content-center bg-light'>
    <div class='col-8'>
        <form method="post" enctype="multipart/form-data">
          <h2 class='display-4'>Upload New Product</h2>
          {% csrf_token %}
          {{ form|crispy }}
          <button type='submit' class='btn btn-primary btn-sm'> Upload New Product </button>
        </form>
    </div>
  </div>
</div>

{% endblock %}